/* * {
  box-sizing: border-box;
  outline: 1px solid lightgreen;
} */

/* Globales */
:root {
  --fuentePrincipal: "Poppins", sans-serif;
  --colosPrincipal: #303030;
  --colosSecundario: #969696;
}

body {
  background-color: var(--colosPrincipal);
}

h1,
h2,
h3,
h4 {
  color: white;
}
/* ----------------------------------- */

/* Barra de busqueda */
.buscar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.barraBusqueda {
  background-color: var(--colosSecundario);
  border-radius: 5px;
  border: 0;
  border: 1px solid white;
  height: 2.3rem;
  outline: 0;
}

::placeholder {
  color: black;
}
/* ----------------------------------- */

/* Cuerpo */
.cuerpo {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  position: relative;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 50%); */
}

.info {
  background-color: var(--colosSecundario);
  height: 26rem;
  width: 40rem;
  margin: 1rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
  z-index: 0;
}

.lista {
  background-color: var(--colosSecundario);
  height: 26rem;
  width: 25rem;
  margin: 1rem;
  border-radius: 5px;
}

/* ----------------------------------- */

/* Info */
.imagen {
  position: relative;
  display: block;
  justify-content: center;

}

.pokeball {
  margin: auto;
  height: 90%;
  width: 130%;
}

.statsNombre {
  color: black;
  margin-top: 1rem;
  text-align: center;
}

.stats {
  z-index: 3;
  color: black;
  margin: auto;
}
/* ------------------------------------ */

/* Lista */
.tarjeta {
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.scroll {
  overflow-y: scroll;
  height: calc(100vh - 20rem);
}

.bg-card {
  background-color: var(--colosPrincipal);
}
::-webkit-scrollbar {
  display: none;
}

.centrarTarjeta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.espacioTarjeta {
  padding: 1rem;
  border-radius: 5px;
}
/* ------------------------------------ */

/* Media Queris */
@media (max-width: 767px) {
  .buscar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .barraBusqueda {
    background-color: var(--colosSecundario);
    border-radius: 5px;
    border: 0;
    border: 1px solid white;
    height: 2.3rem;
    outline: 0;
    width: 100%;
  }
  .cuerpo {
    margin-top: 0.1rem;
    display: block;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    position: absolute;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 50%); */
  }
  .lista {
    background-color: var(--colosSecundario);
    height: 20rem;
    width: 24rem;
    margin: 1rem;
    border-radius: 5px;
  }
  .pokeball {
    height: 100%;
    width: 50%;
  }
  .scroll {
    overflow-y: scroll;
    height: calc(70vh - 19rem);
  }
  .info {
    height: 20rem;
    width: 24rem;
    display: table;
    text-align: center;
  }
  .stats {
    z-index: 3;
    color: black;
    margin: auto;
  }

}
/* ------------------------------------ */
